/.idea
.php_cs.cache
/.vs/PHPCheckout/v17/.suo
/.vs/PHPCheckout/DesignTimeBuild/.dtbcache.v2
/.vs/PHPCheckout/FileContentIndex
/PHPCheckout.phpproj
/PHPCheckout.phpproj.user
/.vs/CheckoutSamples/FileContentIndex/0271e6a8-4134-42db-957c-164b2d6bf61b.vsidx
/.vs/CheckoutSamples/FileContentIndex
/.vs/CheckoutSamples/v17
